body {
    background: red;
    border: 1px solid yellow;
}

.sub, p, #a + li:hover { display: inline-block /*sdfsf sdffs=sdfsfds*/}/* ----------------
 * @asdas: asdasdas
 ****/

@-moz-document url-prefix() {
    h1 {
        color: red;
    }
}

@media screen{
    #as > li.css:hover, .asdasda + .a::after {
        -webkit-appearance: none;
    }
}